body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-self: flex-start;
}

.main {
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
}

.second {
    background-color: white;
    display: flex;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
}
 
.last {
    display: flex;
    background-color: white ;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}